div{
	height:120px;
	width: 120px;
	margin-left: 50px;
	float: left;
	margin-bottom: 20px;
	text-align: center;
	padding: 20px;
	margin-top: 20px;
	background-color: #3DFF21;
	border: 5px dotted #3020FF; 

}

body{
	background-image: url(../img/ac.jpg);

}

.caja1{
	background-image: url(../img/mantel.jpg);

}

.caja2{
	background-image: url(../img/mantel.jpg);
	background-clip:content-box;

}
.caja3{
	background-image: url(../img/mantel.jpg);
	background-size: 100% 100%;

}

.caja4{
	background-image: url(../img/mantel.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-origin: content-box;

}